.contact-context {
  &-map {
    img {
      width: 100%;
      display: block;
    }
  }
  &-button {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 40px auto;
    a {
      padding: 15px 30px;
      font-size: 25px;
      text-align: center;
      @media screen and (max-width: 768px) {
        padding: 10px 20px;
        margin: 2px 10px;
        font-size: 5vw;
        line-height: 103%;
      }
      &.btn-green {
        border: 2px solid $color_green;
        color: $color_green;
        &:hover {
          background-color: $color_green;
          color: white;
        }
      }
      &.btn-blue {
        border: 2px solid $color_blue;
        color: $color_blue;
        &:hover {
          background-color: $color_blue;
          color: white;
        }
      }
    }
  }
}
.contact-page-description {
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .contact-info__context {
    flex-wrap: wrap;
    p {
      margin: 2px 4px;
    }
  }
}
