@import "./variables.scss";
@media screen and (max-width: 1024px) {
  .header {
    /* Header */
    &__topbar {
      height: 50px;
      &--title {
      }
      &--lang {
        a {
        }
      }
    }
    .context {
    }
    /* Header Menü */
    &-menu {
      height: 66px;
      &__logo {
        background-color: white;
        padding: 14px 20px;
        top: -50px;
        width: 155px;
        height: 116px;
        display: flex;
        align-items: center;
        img {
        }
      }
      &__context {
      }
      &__top {
        &--context {
          .phone-item {
            span,
            label {
              flex: none;
            }
            span {
              img {
                width: 20px;
              }
            }
            label {
              background-color: $color_green;
              width: 100%;
            }
          }
          ul {
            justify-content: inherit;
            li {
              width: 100%;
              min-width: inherit;
              &.mobile-menu {
                overflow: hidden;
                width: 80px;
                height: 66px;
                padding-top: 5px;
                button {
                  height: 61px;
                  width: 100%;
                  border: 0;
                  background-color: $color_green;
                  img {
                    width: 30px;
                    height: 100%;
                    pointer-events: none;
                  }
                }
              }
              a {
              }
            }
          }
        }
      }
      &__bottom {
        &--context {
          display: none;
          ul {
            li {
              a {
                &:hover {
                }
                &.active {
                }
              }
            }
          }
        }
      }
    }
  }

  a.sanal-tur,
  a.e-katalog {
  }

  .header-menu__bottom--context {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.94);
    overflow: hidden;
    overflow-y: auto;
    z-index: 1000;
    height: 100%;
    ul {
      flex-direction: column;
      height: 100%;
      justify-content: center;
      width: 100%;
      li {
        display: block;
        a {
          padding: 10px 20px;
          text-align: center;
          color: white;
          font-size: 4vw;
          border-bottom: 1px solid #1f1f1f;
          &.active{
            color:$color_green;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .header-menu__top--context .phone-item span {
    padding-top: 16px;
    img {
      margin-right: 0;
    }
  }
  .header-menu__top--context .phone-item label {
    font-size: 15px;
    padding-top: 20px;
  }
}
