@media screen and (max-width: 1024px) {
  @keyframes scale {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(0.8);
    }
  }
  .hidden-m {
    display: none !important;
  }
  .show-m {
    display: block !important;
  }
  .show-flex-m {
    display: flex !important;
  }
  .istanbul-story {
    flex-direction: row-reverse;
    align-items: flex-start;
    &-image {
      img {
      }
    }
    article {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &__title {
      font-size: 1.5rem;
      text-align: left;
      margin-bottom: 10px;
      padding: 0 10px;
      margin-top: 0;
      line-height: 120%;
    }
    &__desc {
      text-align: left;
      font-size: 16px;
      line-height: 27px;
      padding-top: 0;
    }
    &__props {
      ul {
        li {
          display: none;
          &:first-child {
            display: block;
          }
          .prop-item {
            margin: auto;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            max-width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $color_green;
            position: relative;
            overflow: hidden;
          }
          span {
            img {
              animation: scale 0.6s forwards;
              filter: brightness(0) invert(1);
              transform: scale(0.7);
              position: relative;
              top: -20px;
            }
          }
          label {
            color: white;
            position: absolute;
            bottom: 28px;
            text-align: center;
            width: 100%;
            font-size: 19px;
            line-height: 22px;
          }
        }
        justify-content: center;
      }
    }
    &__prop {
      label {
      }
    }
  }

  .basaksehir-story {
    &__header {
      h1 {
        font-size: 5.3vw;
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 60px;
      }
      p {
        font-size: 20px;
        text-align: center;
        margin: 0 0;
        padding: 0 10px;
      }
    }
    article {
      display: flex;
      flex-direction: column-reverse;
    }
    &__detail {
      width: 70%;
      margin: 20px auto;
      a {
        padding: 13px 19px;
        font-size: 18px;
      }
    }
    .carousel-standard--control {
      display: none;
    }
  }

  .istanbul-way-top {
    background: url(/assets/images/common/way-bar-top.png) no-repeat right
      bottom;
  }
  .istanbul-way-bottom {
    background: url(/assets/images/common/way-bar-bottom.png) no-repeat left top;
  }
  .istanbul-botanik-top {
    background: url(/assets/images/common/botanik-bar-top.png) no-repeat right
      bottom;
  }
  .istanbul-botanik-bottom {
    background: url(/assets/images/common/botanik-bar-bottom.png) no-repeat left
      top;
  }

  .istanbul-way-top,
  .istanbul-botanik-top,
  .istanbul-botanik-bottom,
  .istanbul-way-bottom {
    height: 30px;
    background-size: auto 100%;
  }
  .istanbul-way-story {
    background-image: none;
    &__header {
      display: block;
      margin-bottom: 40px;
    }
    & &__title {
      font-size: 5vw;
      line-height: 22px;
    }
    & &__desc {
      display: block;
      text-align: center;
      label {
        font-size: 5vw;
      }
    }
    &__image {
      display: block;
      .item {
        display: block;
        img {
          display: block;
        }
      }
    }
    &__area {
      display: none;
    }
    &__mobile-area {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      min-height: 260px;
    }
    &__mobile__arrow {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      transform: translate(-50%, 50%);
      width: 80%;
      left: 50%;
      height: 1px;
      &--left,
      &--right {
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        width: 50px;
        height: 50px;
        top: -20px;
        position: relative;
      }
      &--right {
        transform: rotate(-45deg);
        &:active {
          margin-right: -2px;
        }
      }
      &--left {
        transform: rotate(135deg);
        &:active {
          margin-left: -2px;
        }
      }
    }
    &__mobile-item {
      width: 100%;
      &:not(:first-child) {
        display: none;
      }
      .item-image {
        img {
          animation: scale 0.6s forwards;
        }
      }
      .item-title {
        h1 {
          font-size: 6vw;
          line-height: inherit;
        }
      }
      .item-desc {
        h2 {
          font-size: 60px;
          font-weight: bold;
          letter-spacing: -3px;
          line-height: 61px;
        }
      }
    }
    &__button {
      display: none;
      &--mobile {
        display: block;
        width: 70%;
        margin: 20px auto;
      }
      a,
      &--mobile a {
        padding: 13px 19px;
        font-size: 18px;
      }
    }
  }

  .botanik-story {
    display: block;
    background-color: #00a64e;
    &__header {
      display: flex;
      margin: auto;
      padding: 30px 0;
      max-width: 1140px;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      color: white;
      text-align: center;
      font-size: 26px;
      line-height: 25px;
    }
    h2 {
      font-size: 24px;
    }
    &__desc {
      display: none;
    }
    &__carousel {
      display: block;
      img {
        width: 100%;
      }
    }
  }

  .life-options-story {
    display: inline;
    margin: auto;
    position: relative;
    &__header {
      text-align: center;
      margin: auto;
      max-width: 1140px;
      margin-bottom: 50px;
      margin-top: 40px;
    }
    h1 {
      display: block;
      font-size: 6vw;
    }
    h2 {
      display: block;
      font-size: 22px;
      max-width: 87%;
      margin: auto;
    }
    &__area {
      &-item {
        position: relative;
        margin-bottom: 55px;
        &:last-child {
          margin-bottom: 10px;
        }
        &-bg {
          img {
            min-height: inherit;
          }
        }
      }
    }
    .lfo__area-item-modal {
      background: none;
      max-width: inherit;
      top: -60px;
      &__img {
        display: block;
        img {
          width: inherit;
          height: 150px;
        }
      }
      &__desc,
      &__button {
        display: none;
      }
    }
    &__button {
      display: block;
      width: 70%;
      margin: 20px auto;
      a {
        padding: 13px 19px;
        font-size: 18px;
      }
    }
    &__carousel {
      display: flex;
      max-width: 1400px;
      margin: 29px auto;
      &.reverse {
        flex-direction: row-reverse;
      }
      &-item {
        width: 50%;
      }
      &-button {
        clear: both;
        margin: 50px auto;
        text-align: center;
        a.button {
          padding: 15px 30px;
          &.btn-green {
            border: 2px solid $color_green;
            color: $color_green;
            &:hover,
            &.active {
              background-color: $color_green;
              color: white;
            }
          }
        }
      }
      &-text {
        padding: 0 20px;
        font-size: 17px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    &-logos {
      padding: 30px 20px;
      &__context {
        margin: auto;
        max-width: 1140px;
        img {
          width: 100%;
        }
      }
    }
    &__right {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__left {
      width: 100%;
      &-context {
        justify-content: center;
        padding: inherit;
        &-col {
          display: flex;
          &--left {
            display: none;
          }
          &--right {
            padding: inherit;
            color: white;
            min-width: inherit;
            text-align: center;
            .contact-info__context {
              display: inherit;
              h1 {
                font-size: 30px;
              }
              p {
                display: inline-block;
                margin-bottom: 10px;
                &.phone {
                  font-size: 23px;
                }
              }
              &--social {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .page-section {
    display: block;
    &-description {
      max-width: 1400px;
      font-size: 25px;
      text-align: center;
      margin: 30px auto;
      font-weight: 300;
      @media screen and (max-width: 768px) {
        font-size: 20px;
        padding: 0 20px;
      }
    }
    &-header {
      display: block;
      padding: 10px 0;
      background-color: #f2f2f2;
      h1 {
        display: block;
        text-align: center;
        padding: 20px 10px 4px 10px;
        @media screen and (max-width: 768px) {
          font-size: 30px;
        }
      }
      p {
        display: block;
        font-size: 28px;
        font-weight: 300;
        text-align: center;
        padding: 10px 20px;
        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .life-options-story__carousel,
  .life-options-story__carousel.reverse {
    flex-direction: column-reverse;
  }
  .life-options-story__carousel-text,
  .life-options-story__carousel-item {
    width: 100%;
  }
  .life-options-story__carousel-text {
    p {
      margin-bottom: 30px;
    }
  }
  .life-options-story .lfo__area-item-modal {
    top: -40px;
  }
  .life-options-story .lfo__area-item-modal__img img {
    height: 100px;
  }
}
