{% extends 'layouts/master.twig' %}
{% block config %}
	window.page = 'main';
{% endblock %}

{% block body %}

	{% include "partials/carousel.twig" %}
	{% include "partials/main/sections/istanbul-story.twig" %}
	{% include "partials/main/sections/basaksehir-story.twig" %}
	{% include "partials/main/sections/istanbul-way-story.twig" %}
	{% include "partials/main/sections/istanbul-botanik-story.twig" %}
	{% include "partials/main/sections/yasam-secenekleri-story.twig" %}


{% endblock %}
